body {
	margin: 0;
	padding: 0;
	background: white;
	color: #afeeee;
	font-family: sans-serif;
	text-align: center;
}
main {
	padding: 1em;
}
h1 {
	margin: 0 0 1em 0;
}
p {
	margin: 0 0 1em 0;
}

.banner{
  height:80vh;
  background-image: url(original.gif);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}